.column {
	margin-right: 10px;
	float: left;
	width: 260px;
	background:white url(column-stripe.png) repeat;
}

.column-header {
	position: relative;
	height: 40px;
}
.column-header h2 {
	position: absolute;
	color: #000;
	top: 10px;
	left: 10px;
}

.column-header .sprint-point {
	position: absolute;
	top: 13px;
	right: 10px;
	font-weight: bold;
	font-size: 120%;
}

.column-header .finished-point {
	color: #AECD5F;
}

.column-header .finished-point {
	color: #AECD5F;
}

.column-header a {
	text-decoration: none;
}
.column-header a:hover {
	text-decoration: underline;
}

.column-body {
	/*border: solid 1px #AFCCEE*/;
	min-height: 400px;
}

.task {
	margin: 2px 0 10px;
	line-height: 1.2em;
	position: relative;
}

.task-header {
	background: #ECECEC;
	margin-top: 2px;
	border-top: 1px solid white;
	position: relative;
	padding: 20px 30px 10px 10px;
	line-height: 1.5em;
}

.task-label {
	position: absolute;
	left: 10px;
	top: 0px;
	background: olive;
	color: #555555;
}

.task-priority {
	display: inline;
	height: 6px;
	float: left;
	font-size: 8px;
	font-weight: bold;
	background-color: #FF8533;
	line-height: 50%;
	color: #FFFFFF;
	padding:5px 5px 3px;
	text-transform: uppercase;
}

.task-priority select {
	font-weight: normal;
	text-decoration: none;
}

.priority-0 {
	background-color: red;
}

.priority-1 {
	background-color: green;
}

.priority-2 {
	background-color: blue;
}

.task-time {
	display: inline;
	height: 6px;
	float: left;
	font-size: 10px;
	padding: 1px 5px;
	color: #FFFFFF;
	line-height: 110%;
}

.task-time select {
	font-size: 10px;
}

.task-user {
	position: absolute;
	right: 3px;
	top: 3px;
}

.task-status {
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.panel {
	background: url('panel-separator.png') repeat-x scroll 0 0 transparent;
	padding-top: 2px;
}

.task-tag {
	float: left;
	font-size: 8px;
	margin: 0px 3px 0px 5px;
}

.button-toggler {
	background: url(expand-collapse.png) no-repeat scroll left center transparent;
	height: 16px;
	width: 12px;
	text-indent: -999px;
	display: block;
	float: right;
	margin-right: 5px;
}

.task-body {
	padding: 10px;
	line-height: 1.5em; 
	font-size: 10px;
	background: url('task-body.png') repeat; 
}

.task-footer {
}

.column  .placeholder{  
	background: #f0f0f0;  
	border:1px dashed #ddd;  
}

.task .task-title textarea {
	height: 100px;
}